<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet"  href="/bootstrap/css/bootstrap.min.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="color:cornflowerblue;" href="/">团</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index"><span class="glyphicon glyphicon-home ">&nbsp;</span>首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">团购</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cat?type=food">美食</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/cat?type=hotel">酒店</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/search">
                <div class="form-group">
                    <input id = "data" name ="key" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:if="${userInfo} != null ">

                <li><a href="#"><span th:text="'您好！' + ${userInfo.userName} "></span></a></li>
                <li><a href="/order">我的订单</a></li>
                <li><a href="/shopList">购物车</a></li>
                <li><a href="/signout">退出</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" th:if="${userInfo} == null ">
                <li><a href="/signin">登录</a></li>
                <!--                <li><a href="/register">注册</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">产品管理</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">订单管理</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped">
                <caption>产品
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        新增产品
                    </button>
                </caption>
                <thead>
                <tr>
                    <th>产品ID</th>
                    <th>产品名称</th>
                    <th>产品图片URL</th>
                    <th>类型</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.imgUrl}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.price}"></td>
                    <td ><button th:onclick="|delProduct(${product.id})|">删除</button></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <table class="table table-striped">
                <caption>订单</caption>
                <thead>
                <tr>
                    <th>订单ID</th>
                    <th>用户ID</th>
                    <th>产品ID</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.userId}"></td>
                    <td th:text="${order.productId}"></td>
                    <td th:text="${order.status}"></td>
                    <td ><button th:onclick="|delOrder(${order.id})|">删除</button></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>

<footer class="footer " style="margin-top: 200px">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-6 col-lg-6">
                <h4>
                </h4>
                <p>我们一直致力于提供优秀团购！</p>
            </div>
            <div class="col-md-6  col-lg-6">
                <div class="row about">
                    <div class="col-sm-3">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li><a href="/about/">关于我们</a></li>
                            <li><a href="/ad/">广告合作</a></li>
                            <li><a href="/links/">友情链接</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li><a href="" title="" target="_blank">新浪微博</a></li>
                            <li><a href="">电子邮件</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        <h4>特别致谢</h4>
                        <ul class="list-unstyled">
                            <li><a href="" target="_blank">XX</a></li>
                            <li><a href="" target="_blank">XX</a></li>
                            <li><a href="m" target="_blank">XX</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备XXXXX</a></li><li>京公网安备XXXXXX</li>
            </ul>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">
                    <form  >
                        <div class="form-group">
                            <label>产品名称</label>
                            <input type="text" class="form-control" placeholder="" id="productNameAdd">
                        </div>
                        <br/>
                        <div class="form-group">
                        <label>产品图片url</label>
                        <input type="text" class="form-control" placeholder="" id="productImgUrlAdd">
                        </div>
                        <br/>
                        <div class="form-group">
                        <label>类型</label>
                        <input type="text" class="form-control" placeholder="" id="productTypeAdd">
                        </div>
                        <br/>
                        <div class="form-group">
                        <label>价格</label>
                        <input type="text" class="form-control" placeholder="" id="productPriceAdd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="handleAddProduct()">提交</button>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function handleAddProduct() {
        console.log(111)
        var data1 = {};
        data1.productName = $("#productNameAdd").val();
        data1.imgUrl = $("#productImgUrlAdd").val();
        data1.price = $("#productPriceAdd").val();
        data1.type = $("#productTypeAdd").val();

        $.ajax({
            url:"/addProduct",
            method:"post",
            data:JSON.stringify(data1),
            contentType: "application/json;charset=utf-8",
            success:function(result){
                console.log("11122")
                $("#myModal").hide();
                alert("成功")
                location.reload();
            }
        });
    }
    function delProduct(id) {
        $.ajax({
            url:"/delProduct?id="+id,
            success:function(result){
                alert("成功")
                location.reload();
            }
        });
    }
    function delOrder(id) {
        $.ajax({
            url:"/delOrder?id="+id,
            success:function(result){
                alert("成功")
                location.reload();
            }
        });
    }

</script>
</body>
</html>