<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet"  href="/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="color:cornflowerblue;" href="/">团</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index"><span class="glyphicon glyphicon-home ">&nbsp;</span>首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">团购</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cat?type=food">美食</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/cat?type=hotel">酒店</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/search">
                <div class="form-group">
                    <input id = "data" name ="key" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:if="${userInfo} != null ">

                <li><a href="#"><span th:text="'您好！' + ${userInfo.userName} "></span></a></li>
                <li><a href="/order">我的订单</a></li>
                <li><a href="/shopList">购物车</a></li>
                <li><a href="/signout">退出</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" th:if="${userInfo} == null ">
                <li><a href="/signin">登录</a></li>
                <li><a href="/signup">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>

    <audio controls autoplay id="music">
        <source src="/img/music.mp3" type="audio/mpeg">
    </audio>

</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: 80px">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active"  style="text-align: center; background-color:#032172" >
            <img src="/img/meishi.jpg" alt="" style="display:inline-block">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item" style="text-align: center; background-color: #1E789B" >
            <img src="/img/酒店.jpg" alt="" style="display:inline-block">
            <div class="carousel-caption">

            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>


<div class="container projects" >


    <div class="projects-header page-header" >
        <h2>团购推荐</h2>
        <p>热门团购</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=1" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://img.meituan.net/phoenix/c21c2923410205995aa308ee3169265e248982.jpg@740w_416h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=1" title="" target="_blank" onclick="">¥249<br><small></small></a>
                    </h3>
                    <p>迪士尼乐园免费接送/欧式大床房/卡通主题房等主题元素房</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=2" title="" target="_blank" onclick="">
                    <img class="lazy" src="http://p1.meituan.net/iphoenix/02d5a7214cae51b3b72dbfe2dbf9f2de193140.jpg@740w_416h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?di=2" title="" target="_blank" onclick="">¥66<br><small></small></a>
                    </h3>
                    <p>【鑫苑·锦睌】臻享美居/地铁站/迪士尼步行5分钟/轻奢网红ins/阳光露台大床房/一室一厅//记忆枕/极米投影/情侣约会</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=3" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://img.meituan.net/phoenix/9cb6eb39e229bc711b42681bbe7b6ba7186461.jpg@740w_416h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=3" title="" target="_blank" onclick="">¥130<br><small></small></a>
                    </h3>
                    <p>精装一室户独卫独厨拎包即住</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=4" title="" target="_blank" onclick="">
                    <img class="lazy" src="http://p0.meituan.net/iphoenix/ec41f9cd57b720b58a2dd666cd7a066a328594.jpg@740w_416h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=4" title="" target="_blank" onclick="">¥208<br><small></small></a>
                    </h3>
                    <p>免费接送迪士尼10分钟【光年】/含早餐/浦东国际机场/地铁11号线/大床可住2人</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=5" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://img.meituan.net/msmerchant/23c41f69c075fa1b3c2422feddbc40b7272220.jpg@220w_125h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=5" title="" target="_blank" onclick="">¥107<br><small></small></a>
                    </h3>
                    <p>重庆高老九火锅（南京东路店）</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=6" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://p1.meituan.net/600.600/biztone/7b282d4500aa31edda719a8af45f1c5c942558.jpg@220w_125h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=6" title="" target="_blank" onclick="">¥59<br><small></small></a>
                    </h3>
                    <p>烤友社</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=7" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://p0.meituan.net/600.600/ugcpic/443f2c2709387cc35602ef50b5bf4b51@220w_125h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=7" title="" target="_blank" onclick="">¥145<br><small></small></a>
                    </h3>
                    <p>加洲印象海鲜</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="thumbnail">
                <a href="/detail?id=8" title="" target="_blank" onclick="">
                    <img class="lazy" src="https://p1.meituan.net/600.600/mogu/18c5e76a1bb79d5f4c460da90131a9a4412226.jpg@220w_125h_1e_1c" width="300" height="150" data-src="" alt="">
                </a>
                <div class="caption">
                    <h3>
                        <a href="/detail?id=8" title="" target="_blank" onclick="">¥57<br><small></small></a>
                    </h3>
                    <p>炭香园烤肉海鲜自助餐（人民北路店）</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer " style="margin-top: 200px">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-6 col-lg-6">
                <h4>
                </h4>
                <p>我们一直致力于提供优秀团购！</p>
            </div>
            <div class="col-md-6  col-lg-6">
                <div class="row about">
                    <div class="col-sm-3">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li><a href="/about/">关于我们</a></li>
                            <li><a href="/ad/">广告合作</a></li>
                            <li><a href="/links/">友情链接</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li><a href="" title="" target="_blank">新浪微博</a></li>
                            <li><a href="">电子邮件</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        <h4>特别致谢</h4>
                        <ul class="list-unstyled">
                            <li><a href="" target="_blank">XX</a></li>
                            <li><a href="" target="_blank">XX</a></li>
                            <li><a href="m" target="_blank">XX</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备XXXXX</a></li><li>京公网安备XXXXXX</li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#music').play();
        console.log(11)
    });

</script>
</body>
</html>